// // BACKGROUND COLORS
$primaryColor: #73b7e1;
$secondaryColor: rgba(256,256,256,0.5);

// // FONTS COLORS
$primaryFontColor:white;
$secondaryFontColor:#472063;

// // BUTTONS
$primaryButtonColor: #d469a5;
$secondaryButtonColor:#fa75ad;

